<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Описание страницы">
        <link rel="icon" href="fav.ico" type="image">
        <title>Рецепты</title>
    </head>

    <body>
        <div>
            <h1>Рецепты</h1>
            <div >
                {% for recipe in recipes %}
                    <a  href="/recipe/{{recipe.id}}">
                        {{ recipe.name }}
                    </a>
                {% empty %}
                    <p >Нет рецептов!</p>
                {% endfor %}
            </div>
        </div>
    </body>
</html>